<h2>Preferences</h2>


<%= render 'form' %>

<!--<%= link_to 'Show', @user, class: 'nice small radius white button' %>-->
<%= link_to 'Back', purchases_path, class: 'nice small radius white button' %>
<!--<%= link_to 'Back', users_path, class: 'nice small radius white button' %>-->
