<h2>Editing Purchase</h2>

<%= render 'form' %>

<%= link_to 'Show', @purchase, class: 'nice small radius white button' %>
<%= link_to 'Back', purchases_path, class: 'nice small radius white button' %>
