/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a.logo { 
	font-size: 30px;
	line-height: 30px;
	display: block;
	float: left;
	font-weight: bold;
}

#error_explanation { border: 2px solid #c00000; margin-bottom: 10px; }
#error_explanation h2 { font-size: 16px; color: #fff; background: #c00000; padding-left: 5px; }
#error_explanation li, #error_explanation ul { margin: 0 0 9px 5px; }