<div class="panel">
<h2>Your Household</h2>

<% if current_user.household %>
  <% if recent_household_purchases.length > 0 %>
    
      <h4>Recent Purchases</h4>
      <table class="purchases">
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>User</th>

        </tr>
        </thead>

        <%= render recent_household_purchases %>
      </table>
  <% else %>
    <h5>Your household has not had any purchases in the last two weeks.</h5>
  <% end %>



<% else %>
  <h5>
	  <%= link_to "Where do you live?", new_household_path(current_user) %>
    <br />
  </h5>
<% end %>
<br />
</div>