<h2>Editing Household</h2>

<%= render 'form' %>

<%= link_to 'Show', @household, class: 'nice small radius white button' %>
<%= link_to 'Back', households_path, class: 'nice small radius white button' %>
