<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @household.address %>
</p>


<%= link_to 'Edit', edit_household_path(@household), class: 'nice small radius white button' %>
<%= link_to 'Back', households_path, class: 'nice small radius white button' %>
